apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fleet-manager-auth-handler-api
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    konghq.com/methods: "GET"
    konghq.com/regex-priority: "10"
    konghq.com/plugins: fleetmanager-authz, cors, secure-response-headers
    # kubernetes.io/ingress.class: kong
spec:
  ingressClassName: kong
  tls:
  - secretName: {{ include "fleetmanager.api.domain" . | replace "." "-" }}
    hosts:
    - {{ include "fleetmanager.api.domain" . }}
  rules:
    - host: {{ include "fleetmanager.api.domain" . }}
      http:
        paths:
          - path: /authHandler
            backend:
              service:
                name: fleet-manager
                port:
                  number: 8000
            pathType: ImplementationSpecific
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fleet-manager-apis
  annotations:
    konghq.com/plugins: fleetmanager-authz, cors, secure-response-headers
    cert-manager.io/cluster-issuer: letsencrypt-prod
    konghq.com/regex-priority: "9"
    # kubernetes.io/ingress.class: kong
spec:
  ingressClassName: kong
  tls:
  - secretName: {{ include "fleetmanager.api.domain" . | replace "." "-" }}
    hosts:
    - {{ include "fleetmanager.api.domain" . }}
  rules:
    - host: {{ include "fleetmanager.api.domain" . }}
      http:
        paths:
          - path: /organizations/
            backend:
              service:
                name: fleet-manager
                port:
                  number: 8000
            pathType: Prefix
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fleet-manager-forward-proxy
  annotations:
    konghq.com/plugins: fleetmanager-authz, cors, secure-response-headers
    konghq.com/regex-priority: "9"
    # kubernetes.io/ingress.class: kong
spec:
  ingressClassName: kong
  rules:
    - host: "kong-kong-proxy"
      http:
        paths:
          - path: /
            backend:
              service:
                name: fleet-manager # Does not matter
                port:
                  number: 8000
            pathType: Prefix