apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: fleetmanager-authz
plugin: kong-authz-proxy
instance_name: fleetmanager-authz
config:
  authz:
    authz_listener_path: "/authz"
    authz_listener_path_validate_consumer: false
    encryption_key: "super-secret-key"
    alg: "aes256"
    salt: "fleet-salt"
  grafana:
    route: "grafana"
    authz_token_source: "cookie"
    authz_token_key: "fleet-manager-auth"
    whitelist_path_patterns:
      - "/api/public/dashboards/.+/panels/.+/query"
      - "/api/external/readonly/.+"
  backend:
    route: "{{ .Release.Namespace }}.fleet-manager-apis.fleet-manager.{{ include "fleetmanager.api.domain" . }}.8000"
    oidc_credentials_url_prefix: http://fleet-manager.{{ .Release.Namespace }}.svc:8000
    jwks_cache_ttl: 300
    token_source: "header"                       # "header" or "cookie"
    token_pattern: "fleetmanager.org.{orgId}.token"  # Only needed for cookie mode
  dashboard:
    route: "{{ .Release.Namespace }}.grafana-ingress.fleet-manager-grafana-service.{{ include "fleetmanager.grafana.domain" . }}.3000"
  auth_handler:
    route: "{{ .Release.Namespace }}.fleet-manager-auth-handler-api.fleet-manager.{{ include "fleetmanager.api.domain" . }}.8000"
    cookie_domain: .{{ .Values.fleetmanager.domain }}
    cookie_encryption_key: {{ .Values.fleetmanager.cookie_encryption_key }}
    frontend_base_url: https://{{ include "fleetmanager.ui.domain" . }}/
    allowed_redirect_domains:
      - {{ include "fleetmanager.ui.domain" . }}
      - {{ include "fleetmanager.grafana.domain" . }}
    session_cookie_name: "fleetmanager.auth.state"
    org_cache_ttl: 300
    oauth_verify_ssl: true