apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleet-manager-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: fleet-manager-ui
  template:
    metadata:
      labels:
        app.kubernetes.io/name: fleet-manager-ui
    spec:
      containers:
        - env:
          - name: REACT_APP_REDIRECT_URL
            value: https://{{ include "fleetmanager.ui.domain" . }}
          - name: REACT_APP_API_URL
            value: https://{{ include "fleetmanager.api.domain" . }}
          - name: REACT_APP_AUTH_HANDLER_URL
            value: https://{{ include "fleetmanager.api.domain" . }}/authHandler
          - name: REACT_APP_LOKI_WS_URL
            value: wss://{{ include "fleetmanager.ws-loki.domain" . }}
          - name: REACT_APP_LOKI_HTTP_URL
            value: https://{{ include "fleetmanager.loki.domain" . }}
          - name: REACT_APP_COOKIE_DOMAIN
            value: .{{ .Values.fleetmanager.domain }}
          - name: REACT_APP_IDP_URL
            value: {{ include "fleetmanager.oidc.idpUrl" . }}
          - name: REACT_APP_LICENSE_WARNING_DAYS
            value: "7"
          - name: REACT_APP_DASHBOARD_SERVICE_URL
            value: https://{{ include "fleetmanager.grafana.domain" . }}
          - name: REACT_APP_TRACK_UI_PERFORMANCE
            value: {{ .Values.fleetmanager.ui.trackUiPerformance }}
          - name: REACT_APP_ENABLE_GOOGLE_ANALYTICS
            value: {{ .Values.fleetmanager.ui.enableGoogleAnalytics }}
          - name: REACT_APP_STREAMTIME_AGENT_REGISTRY_URL
            value: {{ .Values.fleetmanager.streamtime-agent.registryUrl }}
          - name: REACT_APP_STREAMTIME_AGENT_REPOSITORY
            value: {{ .Values.fleetmanager.streamtime-agent.repository }}
          - name: REACT_APP_STREAMTIME_AGENT_CHART_VERSION
            value: {{ .Values.fleetmanager.streamtime-agent.chartVersion }}
          image: {{ .Values.fleetmanager.ui.image }}
          name: fleet-manager
          ports:
            - containerPort: 80
          resources: {}
      restartPolicy: Always
