apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleet-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: fleet-manager
  template:
    metadata:
      labels:
        app.kubernetes.io/name: fleet-manager
    spec:
      initContainers:
        - env:
          - name: POSTGRES_DB
            value: fleetmanager
          - name: POSTGRES_USER
            value: fleetmanager
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: fleet-manager
                key: postgres-password
                optional: false
          - name: POSTGRES_HOST
            value: fm-postgresql
          - name: POSTGRES_PORT
            value: "5432"
          - name: STREAMTIME_GATEWAY_URL
            value: http://kong-kong-proxy
          - name: STREAMTIME_ADVERTISED_ORCHESTRATOR_ADDRESS
            value: {{ include "fleetmanager.orchestrator.domain" . }}
          - name: TEMPORAL_SERVER
            value: fm-temporal-frontend:7233
          - name: ROOT_ORG_OAUTH_ISSUER
            value: {{ .Values.fleetmanager.oidc.issuer }}
          - name: ROOT_ORG_OAUTH_JWKS_URI
            value: {{ .Values.fleetmanager.oidc.jwksUri }}
          - name: ROOT_ORG_OAUTH_AUDIENCE
            value: {{ .Values.fleetmanager.oidc.audience }}
          - name: ROOT_ORG_OAUTH_SCOPE
            value: {{ .Values.fleetmanager.oidc.scope }}
          - name: ROOT_ORG_OAUTH_TOKEN_ENDPOINT
            value: {{ .Values.fleetmanager.oidc.tokenEndpoint }}
          - name: ROOT_ORG_OAUTH_EMAIL_CLAIM
            value: {{ .Values.fleetmanager.oidc.emailClaim }}
          - name: ROOT_ORG_OAUTH_GROUPS_CLAIM
            value: {{ .Values.fleetmanager.oidc.groupsClaim }}
          - name: ROOT_ORG_OAUTH_AUTHORIZE_ENDPOINT
            value: {{ .Values.fleetmanager.oidc.authorizeEndpoint }}
{{- if .Values.fleetmanager.oidc.refreshToken }}
          - name: ROOT_ORG_OAUTH_REFRESH_TOKEN
            value: "true"
{{- else }}
          - name: ROOT_ORG_OAUTH_REFRESH_TOKEN
            value: "false"
{{- end }}
          - name: ROOT_ORG_OAUTH_CLIENT_ID
            value: {{ .Values.fleetmanager.oidc.clientId }}
          - name: ROOT_ORG_OAUTH_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: fleet-manager
                key: oidc-client-secret
                optional: false
          - name: SUPER_USER_EMAILS
            value: {{ .Values.fleetmanager.superUserEmails }}
          - name: FLEET_MANAGER_DOMAIN
            value: {{ .Values.fleetmanager.domain }}
          - name: ROOT_ORG_IDENTIFIER
            value: root
          - name: FLEET_MANAGER_COOKIE_DOMAIN
            value: .{{ .Values.fleetmanager.domain }}
          - name: FLEETMANAGER_URL
            value: http://fleet-manager:8000
          - name: LOKI_URL
            value: http://fm-loki-gateway/loki/api/v1/push
          - name: STREAMTIME_LICENSE
            value: {{ .Values.fleetmanager.license }}
          - name: UVICORN_HOST
            value: 0.0.0.0
          - name: UVICORN_PORT
            value: "8000"
          - name: UVICORN_WORKERS
            value: "1"
          - name: UVICORN_RELOAD
            value: "false"
          - name: UVICORN_LOG_LEVEL
            value: debug
          - name: UVICORN_TIMEOUT_KEEP_ALIVE
            value: "5"
          - name: UV_CACHE_DIR
            value: /root/.cache/uv
          - name: UV_COMPILE_BYTECODE
            value: "1"
          - name: UV_SYSTEM_PYTHON
            value: "1"
          - name: OAUTH_VERIFY_SSL
            value: "true"
          - name: FLEET_SELECTION_PRIMARY_STRATEGY
            value: best_fit
          - name: FLEET_SELECTION_FALLBACK_STRATEGY
            value: first_fit
          - name: FLEET_SELECTION_ENABLE_FALLBACK
            value: "true"
          - name: FLEET_SELECTION_DEBUG_LOGGING
            value: "false"
          - name: FLEET_SELECTION_BEST_FIT_UTILIZATION_WEIGHT
            value: "0.4"
          - name: FLEET_SELECTION_BEST_FIT_COST_WEIGHT
            value: "0.3"
          - name: FLEET_SELECTION_BEST_FIT_PERFORMANCE_WEIGHT
            value: "0.2"
          - name: FLEET_SELECTION_BEST_FIT_LOAD_WEIGHT
            value: "0.1"
          - name: FLEET_SELECTION_LOAD_1H_WEIGHT
            value: "0.5"
          - name: FLEET_SELECTION_LOAD_24H_WEIGHT
            value: "0.2"
          - name: FLEET_SELECTION_LOAD_1W_WEIGHT
            value: "0.1"
          - name: FLEET_SELECTION_LOAD_TENANT_WEIGHT
            value: "0.15"
          - name: FLEET_SELECTION_LOAD_NOISY_WEIGHT
            value: "0.05"
{{- if and .Values.fleetmanager.ghcr.username .Values.fleetmanager.ghcr.token }}
          - name: GHCR_USERNAME
            value: {{ .Values.fleetmanager.ghcr.username }}
          - name: GHCR_TOKEN
            value: {{ .Values.fleetmanager.ghcr.token }}
{{- end }}
{{- if and .Values.fleetmanager.dockerhub.username .Values.fleetmanager.dockerhub.token }}
          - name: DOCKER_HUB_USERNAME
            value: {{ .Values.fleetmanager.dockerhub.username }}
          - name: DOCKER_HUB_TOKEN
            value: {{ .Values.fleetmanager.dockerhub.token }}
{{- end }}
{{- if and .Values.fleetmanager.quay.username .Values.fleetmanager.quay.token }}
          - name: QUAY_USERNAME
            value: {{ .Values.fleetmanager.quay.username }}
          - name: QUAY_TOKEN
            value: {{ .Values.fleetmanager.quay.token }}
{{- end }}
{{- if eq .Values.fleetmanager.secrets.provider "vault" }}
{{- range $key, $value := .Values.fleetmanager.secrets.vault }}
          - name: STREAMTIME_VAULT_{{ upper $key }}
            value: {{ $value | quote }}
{{- end }}
{{- end }}
          image: {{ .Values.fleetmanager.api.image }}
          command: ['python', 'manage.py', 'migrate']
          name: fleet-manager-migrations
      containers:
        - env:
          - name: POSTGRES_DB
            value: fleetmanager
          - name: POSTGRES_USER
            value: fleetmanager
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: fleet-manager
                key: postgres-password
                optional: false
          - name: POSTGRES_HOST
            value: fm-postgresql
          - name: POSTGRES_PORT
            value: "5432"
          - name: STREAMTIME_GATEWAY_URL
            value: http://kong-kong-proxy
          - name: STREAMTIME_ADVERTISED_ORCHESTRATOR_ADDRESS
            value: {{ include "fleetmanager.orchestrator.domain" . }}
          - name: TEMPORAL_SERVER
            value: fm-temporal-frontend:7233
          - name: ROOT_ORG_OAUTH_ISSUER
            value: {{ .Values.fleetmanager.oidc.issuer }}
          - name: ROOT_ORG_OAUTH_JWKS_URI
            value: {{ .Values.fleetmanager.oidc.jwksUri }}
          - name: ROOT_ORG_OAUTH_AUDIENCE
            value: {{ .Values.fleetmanager.oidc.audience }}
          - name: ROOT_ORG_OAUTH_SCOPE
            value: {{ .Values.fleetmanager.oidc.scope }}
          - name: ROOT_ORG_OAUTH_TOKEN_ENDPOINT
            value: {{ .Values.fleetmanager.oidc.tokenEndpoint }}
          - name: ROOT_ORG_OAUTH_EMAIL_CLAIM
            value: {{ .Values.fleetmanager.oidc.emailClaim }}
          - name: ROOT_ORG_OAUTH_GROUPS_CLAIM
            value: {{ .Values.fleetmanager.oidc.groupsClaim }}
          - name: ROOT_ORG_OAUTH_AUTHORIZE_ENDPOINT
            value: {{ .Values.fleetmanager.oidc.authorizeEndpoint }}
{{- if .Values.fleetmanager.oidc.refreshToken }}
          - name: ROOT_ORG_OAUTH_REFRESH_TOKEN
            value: "true"
{{- else }}
          - name: ROOT_ORG_OAUTH_REFRESH_TOKEN
            value: "false"
{{- end }}
          - name: ROOT_ORG_OAUTH_CLIENT_ID
            value: {{ .Values.fleetmanager.oidc.clientId }}
          - name: ROOT_ORG_OAUTH_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: fleet-manager
                key: oidc-client-secret
                optional: false
          - name: SUPER_USER_EMAILS
            value: {{ .Values.fleetmanager.superUserEmails }}
          - name: FLEET_MANAGER_DOMAIN
            value: {{ .Values.fleetmanager.domain }}
          - name: DJANGO_ALLOWED_HOSTS
            value: {{ .Values.fleetmanager.domain }},{{ include "fleetmanager.ui.domain" . }},{{ include "fleetmanager.api.domain" . }},{{ include "fleetmanager.docs.domain" . }},fleet-manager,fleet-manager.{{.Release.Namespace}}.svc
          - name: ROOT_ORG_IDENTIFIER
            value: root
          - name: FLEET_MANAGER_COOKIE_DOMAIN
            value: .{{ .Values.fleetmanager.domain }}
          - name: FLEETMANAGER_URL
            value: http://fleet-manager:8000
          - name: LOKI_URL
            value: http://fm-loki-gateway/loki/api/v1/push
          - name: STREAMTIME_LICENSE
            value: {{ .Values.fleetmanager.license }}
          - name: UVICORN_HOST
            value: 0.0.0.0
          - name: UVICORN_PORT
            value: "8000"
          - name: UVICORN_WORKERS
            value: "1"
          - name: UVICORN_RELOAD
            value: "false"
          - name: UVICORN_LOG_LEVEL
            value: debug
          - name: UVICORN_TIMEOUT_KEEP_ALIVE
            value: "5"
          - name: UV_CACHE_DIR
            value: /root/.cache/uv
          - name: UV_COMPILE_BYTECODE
            value: "1"
          - name: UV_SYSTEM_PYTHON
            value: "1"
          - name: OAUTH_VERIFY_SSL
            value: "true"
          - name: FLEET_SELECTION_PRIMARY_STRATEGY
            value: best_fit
          - name: FLEET_SELECTION_FALLBACK_STRATEGY
            value: first_fit
          - name: FLEET_SELECTION_ENABLE_FALLBACK
            value: "true"
          - name: FLEET_SELECTION_DEBUG_LOGGING
            value: "false"
          - name: FLEET_SELECTION_BEST_FIT_UTILIZATION_WEIGHT
            value: "0.4"
          - name: FLEET_SELECTION_BEST_FIT_COST_WEIGHT
            value: "0.3"
          - name: FLEET_SELECTION_BEST_FIT_PERFORMANCE_WEIGHT
            value: "0.2"
          - name: FLEET_SELECTION_BEST_FIT_LOAD_WEIGHT
            value: "0.1"
          - name: FLEET_SELECTION_LOAD_1H_WEIGHT
            value: "0.5"
          - name: FLEET_SELECTION_LOAD_24H_WEIGHT
            value: "0.2"
          - name: FLEET_SELECTION_LOAD_1W_WEIGHT
            value: "0.1"
          - name: FLEET_SELECTION_LOAD_TENANT_WEIGHT
            value: "0.15"
          - name: FLEET_SELECTION_LOAD_NOISY_WEIGHT
            value: "0.05"
{{- if and .Values.fleetmanager.ghcr.username .Values.fleetmanager.ghcr.token }}
          - name: GHCR_USERNAME
            value: {{ .Values.fleetmanager.ghcr.username }}
          - name: GHCR_TOKEN
            value: {{ .Values.fleetmanager.ghcr.token }}
{{- end }}
{{- if and .Values.fleetmanager.dockerhub.username .Values.fleetmanager.dockerhub.token }}
          - name: DOCKER_HUB_USERNAME
            value: {{ .Values.fleetmanager.dockerhub.username }}
          - name: DOCKER_HUB_TOKEN
            value: {{ .Values.fleetmanager.dockerhub.token }}
{{- end }}
{{- if and .Values.fleetmanager.quay.username .Values.fleetmanager.quay.token }}
          - name: QUAY_USERNAME
            value: {{ .Values.fleetmanager.quay.username }}
          - name: QUAY_TOKEN
            value: {{ .Values.fleetmanager.quay.token }}
{{- end }}
{{- if eq .Values.fleetmanager.secrets.provider "vault" }}
{{- range $key, $value := .Values.fleetmanager.secrets.vault }}
          - name: STREAMTIME_VAULT_{{ upper $key }}
            value: {{ $value | quote }}
{{- end }}
{{- end }}
          image: {{ .Values.fleetmanager.api.image }}
          name: fleet-manager
          ports:
            - containerPort: 8000
            - containerPort: 4444
          resources: {}
      restartPolicy: Always
