apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    konghq.com/plugins: fleetmanager-authz, secure-response-headers-grafana
spec:
  ingressClassName: kong
  tls:
  - secretName: {{ include "fleetmanager.grafana.domain" . | replace "." "-" }}
    hosts:
    - {{ include "fleetmanager.grafana.domain" . }}
  rules:
    - host: {{ include "fleetmanager.grafana.domain" . }}
      http:
        paths:
          - backend:
              service:
                name: fleet-manager-grafana-service
                port:
                  number: 3000
            pathType: ImplementationSpecific