apiVersion: v1
kind: Secret
metadata:
  name: fleet-manager-config
stringData:
  fleet-manager-config.yaml: |-
    kubernetes:
      provider: {{ .Values.fleetmanager.kubeconfig.provider }}
      kubeconfig_path: /opt/config/fleet-manager-kubeconfig.yaml
      credentials: 
{{ .Values.fleetmanager.kubeconfig.credentials | default dict | toYaml | indent 8 }}
    external_url: https://{{ include "fleetmanager.api.domain" . }}
    gateway_image:{{ include "fleetmanager.renderConfigValue" (dict "value" .Values.fleetmanager.gateway_image "context" . "indent" 6) }}
    secrets_provider: {{ .Values.fleetmanager.secrets.provider }}
    streamtime-agent:
      registry_url: {{ .Values.fleetmanager.streamtimeagent.registryUrl }}
      repository: {{ .Values.fleetmanager.streamtimeagent.repository }}
      chart_version: {{ .Values.fleetmanager.streamtimeagent.chartVersion }}
    streamtime-clusterlink:
      registry_url: {{ .Values.fleetmanager.streamtimeclusterlink.registryUrl }}
      repository: {{ .Values.fleetmanager.streamtimeclusterlink.repository }}
      chart_version: {{ .Values.fleetmanager.streamtimeclusterlink.chartVersion }}
    streamtime:
      gateway_url: http://kong-kong-proxy
    grafana:
      url: http://fleet-manager-grafana-service:3000
      username: root
      password: platformatory
    directories:
      helm_values_source: /app/helm-values
      dashboards_source: /app/dashboards
