apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleet-manager-temporal-worker
  labels:
    app: fleet-manager-temporal-worker
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fleet-manager-temporal-worker
  template:
    metadata:
      labels:
        app: fleet-manager-temporal-worker
    spec:
      containers:
        - name: fleet-manager-temporal-worker
          image: {{ .Values.fleetmanager.orchestrator.repository }}:{{ .Values.fleetmanager.orchestrator.tag }}
          env:
            - name: TEMPORAL_ADDRESS
              value: fm-temporal-frontend:7233
            - name: LOKI_URL
              value: http://fm-loki-gateway/loki/api/v1/push
            - name: FLEETMANAGER_URL
              value: http://fleet-manager:8000
            - name: FLEET_MANAGER_CONFIG_PATH
              value: /opt/fm-config/fleet-manager-config.yaml
            - name: CONFIG_MINIO_URL
              value: http://fm-minio:9000
            - name: CONFIG_S3_ACCESS_KEY
              value: fleetmanager-config-user
            - name: CONFIG_S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: temporal-worker
                  key: CONFIG_S3_SECRET_KEY
                  optional: false
            - name: TF_STATE_MINIO_URL
              value: http://fm-minio:9000
            - name: TF_STATE_S3_ACCESS_KEY
              value: fleetmanager-state-user
            - name: TF_STATE_S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: temporal-worker
                  key: TF_STATE_S3_SECRET_KEY
                  optional: false
            - name: TF_STATE_S3_BUCKET
              value: ws-fleet-manager-tf-state
            - name: FLEET_MANAGER_DOMAIN
              value: {{ .Values.fleetmanager.domain }}
            - name: FLEET_MANAGER_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: STREAMTIME_ADVERTISED_ORCHESTRATOR_ADDRESS
              value: {{ include "fleetmanager.orchestrator.domain" . }}:443
            - name: STREAMTIME_ORCHESTRATOR_SERVER_NAME
              value: {{ include "fleetmanager.orchestrator.domain" . }}
            - name: STREAMTIME_ORCHESTRATOR_TLS_ENABLED
              value: "true"
{{- if and .Values.fleetmanager.ghcr.username .Values.fleetmanager.ghcr.token }}
            - name: GHCR_USERNAME
              value: {{ .Values.fleetmanager.ghcr.username }}
            - name: GHCR_TOKEN
              value: {{ .Values.fleetmanager.ghcr.token }}
{{- end }}
{{- if and .Values.fleetmanager.dockerhub.username .Values.fleetmanager.dockerhub.token }}
            - name: DOCKER_HUB_USERNAME
              value: {{ .Values.fleetmanager.dockerhub.username }}
            - name: DOCKER_HUB_TOKEN
              value: {{ .Values.fleetmanager.dockerhub.token }}
{{- end }}
{{- if and .Values.fleetmanager.quay.username .Values.fleetmanager.quay.token }}
            - name: QUAY_USERNAME
              value: {{ .Values.fleetmanager.quay.username }}
            - name: QUAY_TOKEN
              value: {{ .Values.fleetmanager.quay.token }}
{{- end }}
          volumeMounts:
          - mountPath: "/opt/config"
            name: fleet-manager-kubeconfig
            readOnly: true
          - mountPath: "/opt/fm-config"
            name: fleet-manager-config
            readOnly: true
      volumes:
        - name: fleet-manager-kubeconfig
          secret:
            secretName: fleet-manager-kubeconfig
        - name: fleet-manager-config
          secret:
            secretName: fleet-manager-config
