{{- if not .Values.remoteWrite.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: opencost
  namespace: {{ .Values.opencost.namespace }}
  annotations:
{{- if .Values.oauth_jwks_uri }}
    konghq.com/plugins: opencost-jwt-auth
{{- else if and .Values.opencost.username .Values.opencost.password }}
    konghq.com/plugins: opencost-basic-auth
{{- end }}
    konghq.com/strip-path: "true"
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.opencost.hostname }}
    external-dns.alpha.kubernetes.io/ttl: "300"
spec:
  ingressClassName: kong
  tls:
  - secretName: opencost-tls
    hosts:
    - {{ .Values.opencost.hostname }}
  rules:
    - host: {{ .Values.opencost.hostname }}
      http:
        paths:
          - backend:
              service:
                name: {{ .Values.opencost.service }}
                port:
                  number: 9003
{{- with .Values.opencost.path }}
            path: {{ . }}
{{- end }}
            pathType: ImplementationSpecific
{{- end }}
