apiVersion: v1
kind: Secret
metadata:
  name: tls-kafka-external
type: kubernetes.io/tls
data:
  tls.crt: {{ .Values.certs.kafka.cert | b64enc | quote }}
  tls.key: {{ .Values.certs.kafka.key | b64enc | quote }}
{{- if .Values.oauth.tlsCert }}
apiVersion: v1
kind: Secret
metadata:
  name: oauth-ca-truststore
type: Opaque
data:
  ca.crt: {{ .Values.oauth.tlsTrustedCert | b64enc | quote }}
{{- end }}