{{- if .Values.kafka.tieredStorage.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: strimzi-tiered-storage-creds
type: Opaque
stringData:
{{- if eq .Values.kafka.tieredStorage.provider "S3" }}
    AWS_ACCESS_KEY_ID: {{ .Values.kafka.tieredStorage.aws.accessKey }}
    AWS_SECRET_ACCESS_KEY: {{ .Values.kafka.tieredStorage.aws.secretKey }}
{{- end }}
{{- end }}