apiVersion: platform.confluent.io/v1beta1
kind: ControlCenter
metadata:
  name: controlcenter
spec:
  oneReplicaPerNode: true
{{- if .Values.cfk.license }}
  license:
    secretRef: cfk-license
{{- end }}
{{- if or (.Values.tolerations) (.Values.nodeAffinity) (.Values.cfk.confluentPlatform.controlCenter.resources) }}
  podTemplate:
{{- if .Values.tolerations }}
    tolerations:
{{ .Values.tolerations | default list | toYaml | indent 4 }}
{{- end }}
    affinity:
{{- if not .Values.stacked }}
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: confluent-platform
              operator: In
              values:
              - "true"
          topologyKey: kubernetes.io/hostname
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values:
              - "{{ .Release.Namespace }}-ingress-nginx"
          topologyKey: kubernetes.io/hostname
{{- end }}
{{- if .Values.nodeAffinity }}
      nodeAffinity:
{{ .Values.nodeAffinity | default dict | toYaml | indent 8 }}
{{- end }}
{{- if .Values.cfk.confluentPlatform.controlCenter.resources }}
    resources:
{{ .Values.cfk.confluentPlatform.controlCenter.resources | toYaml | indent 6 }}
{{- end }}
{{- end }}
  authorization:
    type: rbac
  replicas: 1
  image:
    application: confluentinc/cp-enterprise-control-center:{{ .Values.cfk.confluentPlatform.version }}
    init: confluentinc/confluent-init-container:{{ .Values.cfk.initContainer.version }}
  dataVolumeCapacity: {{ .Values.cfk.confluentPlatform.controlCenter.diskSize }}
  tls:
    autoGeneratedCerts: true
  configOverrides:
    server:
{{ $replicas := (.Values.replicas | int) }}
{{- if lt $replicas 3 }}
      - confluent.controlcenter.command.topic.replication={{ .Values.replicas }}
      - confluent.controlcenter.replication.factor={{ .Values.replicas }}
      - confluent.metrics.reporter.topic.replicas={{ .Values.replicas }}
      - confluent.metrics.topic.replication={{ .Values.replicas }}
      - confluent.monitoring.interceptor.topic.replication={{ .Values.replicas }}
      - confluent.controlcenter.internal.topics.replication={{ .Values.replicas }}
{{- end }}
      - confluent.controlcenter.rest.listeners=http://0.0.0.0:9021
      - --confluent.controlcenter.rest.ssl.key.password=${file:/mnt/sslcerts/jksPassword.txt:jksPassword}
      - --confluent.controlcenter.rest.ssl.keystore.location=/mnt/sslcerts/keystore.p12
      - --confluent.controlcenter.rest.ssl.keystore.password=${file:/mnt/sslcerts/jksPassword.txt:jksPassword}
      - --confluent.controlcenter.rest.ssl.truststore.location=/mnt/sslcerts/truststore.p12
      - --confluent.controlcenter.rest.ssl.truststore.password=${file:/mnt/sslcerts/jksPassword.txt:jksPassword}
    log4j:
      - log4j.rootLogger=INFO, stdout, stderr
      - log4j.appender.stdout.Threshold = TRACE
      - log4j.appender.stdout.Target   = System.out
      - log4j.appender.stdout.filter.filter1=org.apache.log4j.varia.LevelRangeFilter
      - log4j.appender.stdout.filter.filter1.levelMin=TRACE
      - log4j.appender.stdout.filter.filter1.levelMax=INFO
      - log4j.appender.stderr = org.apache.log4j.ConsoleAppender
      - log4j.appender.stderr.Threshold = WARN
      - log4j.appender.stderr.Target   = System.err
      - log4j.appender.stderr.layout=org.apache.log4j.PatternLayout
      - log4j.appender.stderr.layout.ConversionPattern=[%d] %p %m (%c)%n
  dependencies:
    kafka:
      bootstrapEndpoint: kafka.{{ .Release.Namespace }}.svc.cluster.local:9071
      authentication:
        type: mtls
      tls:
        enabled: true
{{- if .Values.cfk.confluentPlatform.schemaRegistry.enabled }}
    schemaRegistry:
      url: http://schemaregistry.{{ .Release.Namespace }}.svc.cluster.local:8081
{{- if eq .Values.cfk.confluentPlatform.authentication "oauth" }}
      authentication:
        type: oauth
        oauth:
          secretRef: oauth-jaas
          configuration:
            tokenEndpointUri: {{ .Values.oauth.tokenEndpoint }}
            expectedIssuer: {{ .Values.oauth.issuer }}
            jwksEndpointUri: {{ .Values.oauth.jwksEndpoint }}
            subClaimName: {{ .Values.oauth.subClaim }}
            scope: {{ .Values.oauth.scope }}
        sslClientAuthentication: false
{{- end }}
{{- if eq .Values.cfk.confluentPlatform.authentication "plain" }}
      authentication:
        basic:
          secretRef: c3-sr-credential
        type: basic
{{- end }}
      tls:
        enabled: false
{{- end }}
    mds:
      tls:
        enabled: false
        ignoreTrustStoreConfig: true
      ssoProtocol: oidc
      endpoint: http://kafka.{{ .Release.Namespace }}.svc.cluster.local:9099
      tokenKeyPair:
        secretRef: mds-token
{{- if eq .Values.cfk.confluentPlatform.authentication "oauth" }}
      authentication:
        type: oauth
        oauth:
          secretRef: oauth-jaas
          configuration:
            tokenEndpointUri: {{ .Values.oauth.tokenEndpoint }}
            expectedIssuer: {{ .Values.oauth.issuer }}
            jwksEndpointUri: {{ .Values.oauth.jwksEndpoint }}
            subClaimName: {{ .Values.oauth.subClaim }}
            scope: {{ .Values.oauth.scope }}
{{- end }}
{{- if eq .Values.cfk.confluentPlatform.authentication "plain" }}
      authentication:
        type: bearer
        bearer:
          secretRef: c3-mds-client-credential
{{- end }}
