{{- if .Values.cfk.tieredStorage.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: cfk-tiered-storage-creds
type: Opaque
stringData:
  tieredStorageCreds.txt: |-
{{- if eq .Values.cfk.tieredStorage.provider "S3" }}
    accessKey={{ .Values.cfk.tieredStorage.aws.accessKey }}
    secretKey={{ .Values.cfk.tieredStorage.aws.secretKey }}
{{- end }}
{{- end }}