certs:
  ca:
    cert:
    key:
  kafka:
    cert:
    key:
  mds:
    public:
    keyPair:
certManager:
  namespace: cert-manager
  route53:
    region:
    hostedZoneID:
    accessKeyID:
    secretAccessKey:
oauth:
  clientId:
  clientSecret: 
  audience: 
  issuer: 
  jwksEndpoint:
  authorizeEndpoint:
  tokenEndpoint: 
  scope: 
  subClaim: sub
  emailClaim: email
  groupsClaim: group
  groupsScope: 
  refreshToken: true
tenancy: Shared
replicas: 3
domain: 
ingressClassName: 
tolerations: []
nodeAffinity:
stacked: true
cfk:
  initContainer:
    version:
  confluentPlatform:
    version: 
    authentication: oauth
    kraft:
      diskSize: 50Gi
      replicas: 3
      # resources:
      #   requests:
      #     cpu: "500m"
      #     memory: "512Mi"
      #   limits:
      #     cpu: "1000m"
      #     memory: "1Gi"
    kafka:
      diskSize: 100Gi
      # resources:
      #   requests:
      #     cpu: "500m"
      #     memory: "512Mi"
      #   limits:
      #     cpu: "1000m"
      #     memory: "1Gi"
      listeners:
        internal:
          enabled: true
        external:
          enabled: true
          access: Ingress # Or LoadBalancer
          loadBalancerAnnotations: {}
      serverConfigOverrides:
      - confluent.tier.local.hotset.ms=7200000
    controlCenter:
      diskSize: 30Gi
      # resources:
      #   requests:
      #     cpu: "500m"
      #     memory: "512Mi"
      #   limits:
      #     cpu: "1000m"
      #     memory: "1Gi"
    schemaRegistry:
      enabled: true
      # resources:
      #   requests:
      #     cpu: "500m"
      #     memory: "512Mi"
      #   limits:
      #     cpu: "1000m"
      #     memory: "1Gi"
  license:
  systemAdmin:
    name:
    type:
  tieredStorage:
    provider: S3
    cloud: aws
    bucketName: 
    endpoint: 
    aws:
      accessKey:
      secretKey:
      region: